* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}



body {

canvas{
    height: 400px;
    width: 100%;
    background-image: url('./images/galaxy.jpg');
    background-size: cover;
}
}